<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO <%= name %></h1>
    <% if (age > 18){
        %> <p> You are adult</p> <% 
    } else { %>
        <p> You are minor</p>
        <% } %>
    <img src="/helo.png" alt="Hình ảnh helo" />

</body>
</html>